$title: white;
$btn-color: orange;
$header-color: aqua;
$black-color: black;

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  background-color: $header-color;
  height: 50px;
  padding: 25px;
  .title {
    color: $title;
    text-transform: uppercase;
    float: left;
    margin: 0 auto;
  }
  .add {
    width: 200px;
    padding: 10px;
    display: inline-block;
    border: 1px solid $btn-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    float: right;
    background-color: $btn-color;
    font-weight: bold;
  }
}

#container {
  width: auto;
  height: auto;
  margin: 25px;
  #movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  h3 {
    float: left;
    margin: 0;
    width:25%;
  }
  #rating {
    unicode-bidi: normal;
    width: 10%;
    margin-top: 5px;
  }
  #rating > i {
    display: inline-block;
    background: transparent;
  }
  #rating > i:before {
    line-height: 1;
  }
  #rating > i:hover ~ i {
    color: $black-color
  }
  #rating:hover i {
    color: $btn-color;
  }
}

#movie-details{
  width: auto;
  height: auto;
  margin: 25px;
}

.view-button-class {
  width: 100px;
  padding: 10px;
  border: 1px solid $btn-color;
  border-radius: 5px ;
  box-sizing: border-box;
  color: white;
  background-color: $btn-color;
  font-weight: bold;
  margin-left: 20px;
}
.delete-button-class {
  width: 100px;
  padding: 10px;
  border: 1px solid $btn-color;
  border-radius: 5px ;
  box-sizing: border-box;
  color: white;
  background-color: $btn-color;
  font-weight: bold;
  margin-left: 20px;
}

.image {
  width: 200px;
  height: 300px;
}

#back-button {
  width: 100px;
  padding: 10px;
  border: 1px solid $btn-color;
  border-radius: 5px ;
  box-sizing: border-box;
  color: white;
  background-color: $btn-color;
  font-weight: bold;
}
form {
  display: inline-grid;
  left: 40%;
  position: relative;
  margin-top: 20px;
}

.input {
  width: 400px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $header-color;
  color: white;
  cursor: pointer;
  margin: 20px auto;
  float: left;
}

.submit-button:hover {
  background-color: white;
  color: $btn-color;
}

.cancel-button {
  width: 100px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: $btn-color;
  cursor: pointer;
  margin: 20px auto;
  float: right;
}
.cancel-button:hover {
  background-color: $header-color;
  color: white;
}

@media (min-width: 200px) and ( max-width: 600px) {
  header{
    .add {
      float: none;
    }
  }
  #container {
    width: auto;
    height: auto;
    margin: 25px;
    #movie-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-top: 10px;
        flex-direction: column;
        justify-content: normal;
      }
      #rating {
        width: unset;
      }
    }
    h3 {
      float: none;
      width: unset;
    }
    .movie-details {
      display: inline-flex;
      float: unset;
      .view-button-class {
        margin: 0 auto;
      }
      .delete-button-class {
        margin-left: 10px;
      }
    }
  }
}

@media ( max-width: 950px) {
  #container {
    #rating {
      width: 20%;
    }
  }
}

@media (min-width: 600px) and ( max-width: 1639px) {
  #container {
    width: auto;
    height: auto;
    margin: 25px;
    h3 {
      float: none;
    }
    .movie-details {
      display: inline-flex;
      float: unset;
      .view-button-class {
        margin: 0 auto;
      }
      .delete-button-class {
        margin-left: 10px;
      }
    }
  }
}